@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

@variant dark (.dark &);

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #f4f4f6;
}

body {
  margin: 0;
  min-width: 320px;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}
